body {
  margin: 0;
}

.center-both {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.action-button {
  position: relative;
  padding: 0px 15px;
  margin: 0;

  color: #fff;
  background-color: #000;

  font-family: 'Oswald', sans-serif;
  text-align: right;

  cursor: pointer;
  transition: 0.2s all ease;
  user-select: none;
  z-index: 1;
}

.action-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 6px 6px 0 0 #444;
  transition: 0.2s all ease;
}

.action-button:hover,
.action-button:focus {
  background-color: #555;
  box-shadow: -6px -6px 0 0 #000;
  outline: none;
}

.action-button:hover::after,
.action-button:focus::after {
  opacity: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 50px;
}

.nav a {
  padding: 1px 5px;
  margin: 5px;

  color: #fff;
  background-color: #000;
  box-shadow: -15px 3px 0 0 #444;

  font-family: 'Oswald', sans-serif;
  text-decoration: none;

  text-align: right;
  transition: 0.2s all ease;
  user-select: none;
}

.nav a:hover,
.nav a:focus {
  background-color: #555;
  box-shadow: 15px 3px 0 0 #000;
  outline: none;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tag {
  display: flex;
  margin-right: 25px;
  margin-bottom: 50px;
  padding: 0 10px;
  width: 130px;
  justify-content: space-between;

  background-color: #ddd;
  border: 2px solid transparent;

  font-family: 'Oswald', sans-serif;
  float: right;
  user-select: none;
  transition: 0.2s all ease;
}

.tag:hover {
  border: 2px solid #000;
}

.dropdown .content {
  width: 130px;
  position: absolute;
  display: none;
  opacity: 0;
  transform: translate(-12px, -100%);
  transition: 5s all ease;
}

.dropdown:hover .content {
  display: block;
  opacity: 1;
}

.options-box {
  padding: 3px 10px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.options-box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
}

.options-box .button {
  width: 100%;
  padding: 3px 0;

  color: #000;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.2s all ease;
}

.options-box .button:hover {
  background-color: #eee;
}

.fade {
  transition: 3s opacity ease;
}
