@font-face {
  font-family: 'CircularStd';
  src: url('static/CircularStd-Book.otf') format('opentype');
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  /* height: 100%; */
  height: auto;
  min-height: -webkit-fill-available;
  margin: 0;
}

.center-both {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.action-button {
  position: relative;
  padding: 0px 15px;
  margin: 0;

  color: #fff;
  background-color: #000;

  text-align: right;

  cursor: pointer;
  transition: 0.2s background-color ease, 0.2s box-shadow ease;
  user-select: none;
  z-index: 1;
}

.action-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 6px 6px 0 0 #444;
  transition: 0.2s all ease;
}

@media (hover: hover) {
  .action-button:hover,
  .action-button:focus {
    background-color: #555;
    box-shadow: -6px -6px 0 0 #000;
    outline: none;
  }

  .action-button:hover::after,
  .action-button:focus::after {
    opacity: 0;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 50px;
}

.nav a {
  padding: 1px 5px;
  margin: 5px;

  color: #fff;
  background-color: #000;
  box-shadow: -15px 3px 0 0 #444;

  text-decoration: none;

  text-align: right;
  transition: 0.2s all ease;
  user-select: none;
}

.nav a:hover,
.nav a:focus {
  background-color: #555;
  box-shadow: 15px 3px 0 0 #000;
  outline: none;
}

.showcase {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tag {
  display: flex;
  margin-right: 25px;
  margin-bottom: 50px;
  padding: 0 10px;
  width: 130px;
  justify-content: space-between;

  background-color: #ddd;
  border: 2px solid transparent;

  float: right;
  user-select: none;
  transition: 0.2s all ease;
}

.tag:hover {
  border: 2px solid #000;
}

.dropdown {
  cursor: pointer;
}

.dropdown .dropdown-content {
  position: absolute;
  opacity: 0;
  transform: translate(calc(-100% + 37px), calc(-100% - 39px));
  pointer-events: none;
  transition: 0.2s opacity ease;
  z-index: 2;
}

.dropdown.expand .dropdown-content {
  pointer-events: auto;
  opacity: 1;
}

.options-box {
  padding: 3px 10px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: 'CircularStd', sans-serif;
  font-weight: 300;
  font-size: 16px;
  cursor: default;
}

.options-box .disable {
  display: none;
}

.options-box .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0;
}

.options-box .button {
  width: 100%;
  padding: 3px 0;

  color: #000;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 1px;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.2s background-color ease;
}

.options-box .button:hover {
  background-color: #eee;
}

.fade {
  transition: 1s opacity ease;
}

.icon {
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: -7px 3px 0 0 #333;
  cursor: pointer;
  transition: 0.2s background-color ease, 0.2s box-shadow ease;
}

.icon svg {
  transition: 0.2s transform ease;
}

.icon:hover {
  background-color: #eee;
  box-shadow: 7px 3px 0 0 #000;
}

.expand.icon {
  box-shadow: 7px 3px 0 0 #000;
}

.clicked .shuffle {
  transform: scaleY(-1);
}

.expand > .cog {
  transform: rotate(45deg);
}

.caret {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 50px;
  right: calc(50% - 25px);

  cursor: pointer;
  animation: pulse 1.5s infinite;
  transition: 0.2s all ease;
  z-index: 1;
}

.caret:hover {
  padding-bottom: 10px;
}

.caret.point-up {
  transition: bottom 0s;
  bottom: calc(100% - 90px);
}

.caret.point-up .caret-rotate {
  transform: rotate(180deg);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    filter: drop-shadow(0px 0px 13px #000);
  }
  30% {
    transform: scale(1) translate(0, -5px);
    filter: drop-shadow(0px 0px 18px #000);
  }
  100% {
    transform: scale(0.9);
    filter: drop-shadow(0px 0px 13px #000);
  }
}

.name-card {
  position: fixed;
  width: 145px;
  height: 40px;
  margin: 50px;
  padding: 0 5px;
  top: 0px;

  border: 2px solid #000;
  box-shadow: -7px 3px 0 0 #000;
  color: #000;
  background-color: #fff;

  line-height: 40px;
  font-weight: bold;
  font-size: 25px;
  text-align: right;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: 0.2s background-color ease, 0.2s box-shadow ease;
  z-index: 1;
}

.name-card:hover {
  background-color: #eee;
  box-shadow: 7px 3px 0 0 #000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 calc((100vw - 1200px) / 2);
}

.card {
  padding: 0 30px;
  margin: 60px 50px;
  cursor: pointer;
  transition: 0.3s box-shadow ease;
}

.separator {
  padding: 0 80px;
}

.card:hover {
  box-shadow: -2px 2px 0 0 #eee;
}

.card h2,
.modal h2,
.separator h2 {
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  margin: 20px 0;
}

.card h2::after,
.separator h2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.3s width ease;
}

.card:hover h2::after,
.separator:hover h2::after {
  width: 100%;
}

.card p,
.modal p {
  font-family: 'CircularStd';
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

.modal-description {
  height: 35%;
}

.modal-description div {
  padding: 25px 70px;
}

.modal h2 {
  font-size: 25px;
  margin: 10px 0;
}

.modal p {
  font-size: 17px;
  line-height: 25px;
  margin: 0;
}

.modal {
  position: fixed;
  display: none;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  /* padding: 10px 70px; */
  cursor: auto;
}

.modal-body {
  position: relative;
  max-width: 1200px;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.modal-top {
  height: 65%;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: block;
  /* flex-direction: column; */
  z-index: 3;
}

.overlay {
  display: none;
}

.modal.show + .overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
}

.card svg {
  height: 35px;
  margin: 0 2px;
}

a {
  text-decoration: none;
}

.showcase-overlay {
  position: relative;
  width: 95%;
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
}

.showcase-disable {
  display: none;
}

.highlight {
  position: relative;
  color: #000;
}

.highlight::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
  transition: box-shadow 0.1s ease, transform 0.2s ease;
}

.highlight:hover::after {
  transform: translateY(-22px);
  box-shadow: 0 22px 0 0 rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-gap: 2%;
  margin-bottom: 7%;
}

.grid-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 375px;
  overflow: hidden;
  background-color: #eee;
  cursor: pointer;
}

.grid-item::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.grid-item .title {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  opacity: 0;
  z-index: 1;
}

.grid-item:hover .title {
  opacity: 1;
}

.grid-item:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.title b {
  font-size: 30px;
}
.grid-item img {
  height: 250px;
}

.modal-description b {
  float: right;
  font-size: 15px;
  line-height: 37px;
  font-weight: normal;
}

.swap {
  position: absolute;
  right: 50px;
  bottom: 105px;
}

.dropdown {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.life-options {
  width: 200px;
}

.sticky {
  height: 40px;
}

@media (max-width: 1200px) {
  .content {
    margin: 0 0;
  }
}

@media (max-width: 640px) {
  body {
    letter-spacing: -3px;
  }

  .showcase-overlay {
    width: 100%;
  }

  .name-card {
    /* margin: 10px; */
    /* padding: 0 10px; */
    margin: 0;
    padding: 0px 10px;
    width: calc(100vw - 24px);
    box-shadow: none !important;
    text-align: left;
    z-index: 2;
  }

  .swap {
    top: 0;
    right: 42px;
    box-shadow: none !important;
    z-index: 2;
  }

  .dropdown {
    top: 0;
    right: 0;
    box-shadow: none !important;
    z-index: 2;
  }

  .dropdown .dropdown-content {
    transform: translate(calc(-100% + 37px), calc(0px));
  }

  /* .life-options { */
  /*   width: calc(95vw - 44px); */
  /* } */

  .caret {
    z-index: 3;
  }

  .card {
    padding: 0 10px;
    margin: 30px 10px;
  }

  .card p {
    font-size: 18px;
    line-height: 30px;
  }

  .modal {
    top: 5vh;
    bottom: calc(5vh + env(safe-area-inset-bottom));
    height: calc(90vh - env(safe-area-inset-bottom));
  }

  .modal img {
    height: 40% !important;
  }

  .modal p {
    line-height: 25px;
  }

  .modal-description div {
    padding: 15px 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 20px;
    margin-bottom: 10px;
  }

  .grid img {
    height: 50% !important;
  }

  .modal .double-img {
    height: 50% !important;
  }

  .modal-top {
    height: 60%;
  }
  .modal-description {
    height: 40%;
  }

  .caret.point-up {
    animation: none;
    right: 10px;
    top: 0;
  }

  #thing1 {
    height: 40% !important;
  }

  #thing2 {
    height: 30% !important;
  }

  .options-box,
  .card p,
  .modal p {
    letter-spacing: 0;
  }

  .modal-description b {
    float: none;
    display: block;
    font-size: 18px;
    letter-spacing: 0;
  }

  .title {
    letter-spacing: 0;
  }

  .title b {
    letter-spacing: -3px;
  }

  .sticky.up {
    position: fixed;
    top: 7px;
    right: 50px;
    z-index: 2;
  }

  .sticky.up svg {
    height: 30px;
    margin: 0 5px;
  }

  .sticky.up + p {
    margin-top: calc(40px + 1em);
  }
}
